@import "react-alice-carousel/lib/scss/alice-carousel.scss";

* {
  margin: 0;
}

body {
  position: relative;
}

h1 {
  color: white;
  font-size: 10vw;
  background-color: rgba(0, 0, 0, 0.644);
  padding: 10px;
  border-radius: 10px;
  // font-family: 'Playfair Display', serif;
  font-family: 'Cinzel', serif;
 
}

.nav {
  width: 100vw;
  height: 80px;
  background-color: #08112e;
  display: flex;
  align-items: center;
  align-self: flex-start;
  position: sticky;
  top: 0;
  z-index: 2;
  overflow: hidden;
}

ul {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
  font-family: sans-serif;
  font-size: 26px;
  font-weight: 500;
}

a:hover {
  text-decoration: underline;
}

.logo-div {
  width: 50%;
  padding-left: 3%;
}

.logo{
  display: flex-start;
  max-width: 4vw;
  border-radius: 50%;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

// ! Home Section
.img-home {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url('../assets/cover1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2{
  text-align: center;
  margin-top: 5%;
  font-size: 4vw;
  font-family: 'Work Sans', sans-serif;
}

.about-para {
  display: flex;
  font-family: 'Work Sans', sans-serif;
  line-height: 27px;
  text-align: justify;
  width: 70%;
  justify-content: space-between; 
  flex-wrap: wrap;
}


p{
  width: 30vw;
  margin: 30px 0px 50px;
  padding: 3%;
  justify-content: space-between;
  font-family: 'Work Sans', sans-serif;
  line-height: 27px;
}

hr {
  border: solid black 1px;
  width: 66%;
  
}

// ! Bar Section
.picture{
  width: 100vw;
  height: 50vh;
}

.carousel{
  width: 100vw;
  height: 50vh;
}
.slides .slick-prev,
.slides .slick-next {
  position: absolute;
  top: 50%;
  z-index: 1;
}


.slides {
  position: relative;
}

.slides .slick-prev,
.slides .slick-next {
  position: absolute;
  top: 50%;
  z-index:1;
}

.slides .slick-prev {
  left: 5%;
}

.slides .slick-next {
  right: 5%;
}



// ! Events Section

h3 {
  font-family: 'Work Sans', sans-serif;
  font-size: 20px;
}

h4 {
  font-family: 'Work Sans', sans-serif;
  margin-top: 30px;
}

.events-parallax {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: white;
  position: relative;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-image: url('../assets/barparallax.png');
  background-position: center;
  h2 {
    margin: 10%;
    font-size: 7vw;
    font-family: 'Quattrocento Sans', sans-serif;
    background-color: rgba(0, 0, 0, 0.644);
    padding: 10px;
    border-radius: 10px;
  }
}

.event-img-div{
  justify-content: space-evenly;
  display: flex;
  width: 100%;
  padding-bottom:5% ;
  flex-direction: column;
}

.event{
  display: flex;
  .img-events {
    width: 40vw;
    padding: 2%;
  }
  p{
    width: 80%;
    text-align: justify;
  }
  .event-txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // width: 80%
  }
}

.img-events {
  width: 250px;
  height: 450px;
  padding-top: 3%;
  
}




// ! Gallery Section

.gallery-parallax {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  color: white;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-image: url('../assets/one.jpg');
  background-position: center;
  h2 {
    margin: 10%;
    font-size: 5vw;
  }
}

.gallery-img-div{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  height: 60%;
}

.img-gallery {
  width: 300px;
  height: 350px;
  margin: 1%;
}

// ! Contact Section
.contact-div {
  display: flex;
  padding-top: 2%;
}

.contact-info {
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  p{
    padding: 1%;
  }
}

.icon-div {
  display: flex;
  justify-content: space-evenly;
  width: 30%;
  a {
    color: black;
  }
}

.map-div {
  width: 50vw;
}

.map {
  width: 100%;
}



// ! Footer Section

.img-footer{
  width: 100vw;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #08112e;
}

.banner {
  width: 20%;
  // padding-top: 2%;
}